<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Mainform_and_login.Properties.Settings.CourseWork_6_4ConnectionString"
            connectionString="Data Source=LAPTOP-QBBD7DH9\MAYAO;Initial Catalog=CourseWork_6-4;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>